/* Global variables to for overriding css */
:root {
    /* colors */
    --site-background-color: white;
    --grey-1:#f7f7f7;
    --grey-2:#eaeaea;
    --grey-3:#cfcfcf;
    --grey-4:#667278;
    --grey-5:#243136;
    
    --amber-1:#fefbf1;
    --amber-2:#ffecb3;
    --amber-3:#fcd581;
    --amber-4:#fab72a;
    --amber-5:#7c5502;
    
    --blue-1:#F7FCFF;
    --blue-2:#E3F2FD;
    --blue-3:#90CAF9;
    --blue-4:#1976D2;
    --blue-5:#0E59A4;
    
    /* font stack */
    --display-font: "Inter", Arial, Helvetica, sans-serif;
    --copy-font: "Inter", Arial, Helvetica, sans-serif;
    
    --space-xxl:120px;
    --space-xl:80px;
    --space-lg:40px;
    --space-md:24px;
    --space-sm:16px;
    --space-xs:8px;
  }


body{
    background-color:var(--site-background-color);
    font-family: var(--copy-font);
    letter-spacing: 0.03rem;
    line-height: 28px;
    color: var(--grey-5);
}

.container-fluid hr{
    margin: 80px 0;
}
/* Typography */
a{
    color: var(--grey-4);
    
    &:hover{
        color:var(--project-color-tertiary, inherit);
    }
}

h2{
    font-size: 24px;
    font-family: var(--display-font);
    font-weight: 600;
}

h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    
    & > i{
        color: var(--amber-4)
    }
}

ol{
    &.a{list-style-type: lower-alpha;}
    &.i{list-style-type: lower-roman;}
}

li{
    margin-bottom: 0.25em;
}

.figure-caption{
    font-size: 12px;
    line-height: 18px;
    font-weight: 450;
}

.divider{
    color: var(--grey-3 );
}

.card-header{
    border-width:0;
    padding:16px 16px;
    border-radius: 12px !important;
}

/* Footer */
#footer{
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 16px;
}