/*navbar*/
.navbar {
    width: 100%;
    padding-top: 28px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 2;

    #landing-page &{
        position: absolute;
    }

    @media (max-width: 767px) { &{
        padding-left: 16px;
        padding-right: 16px;
    }}
}



.navbar-brand{
    font-size: 16px;
    line-height: 16px;
    color: var(--grey-5) !important;
}

#avatar{
    width: 32px; 
    height: 32px; 
    border-radius: 200px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
    filter: grayscale(0.1);
    margin-right: var(--space-xs);
    margin-bottom: 4px;
}

.nav-link{
    color: var(--grey-5) !important;

    &:hover{
        color: var(--project-color-tertiary, white);
        text-decoration: underline;
    }
}

.navbar-nav{
    margin-top:8px;
}

.nav-item {
    background-color: #F7F7F7;
    border-radius: 8px;
    padding: 0 16px;
}

@media (min-width: 576px) {
    .nav-item {
        background-color: transparent;
    }
}