/* Project page */

.asterisk{
    color:var(--project-color-tertiary);
}

.project-page-wrapper{
    margin:0;    
    } 

#project-content-wrapper{
    font-size: 1rem; 
    line-height: 175%;

    & h1{
        font-family: var(--display-font);
        font-size: 3.2rem;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
    }
    & h2{font-size: 2.5rem;}
    & h3{font-size:1.5rem;}
    & h4{font-size: 1.125rem;font-weight: 700;}
    & strong{font-weight: 600;}
    & p, ul, ol, figure{margin-bottom: var(--space-lg);}
    & p+p{margin-top:0 !important;}

    a{
        color: var(--project-color-tertiary);
        
        .fa{
            color:var(--grey-3);
            font-size: 1rem;
            vertical-align: middle;
            margin-left: 8px;
            margin-bottom: 4px;
        }

        &:hover{
            filter:brightness(0.66);
        }
    }

    @media (max-width:575px) { 
        h1{font-size: 2.66rem; text-wrap: letter;}
        p, li {font-size: 1rem;}
    }
}



#spacer-column{
    margin-left:40px;

    .sidebar{
        position: fixed;
        width:inherit;
        padding-right: 8px; 
    } 

    a{
        text-decoration: none;
        display: block;
        width: fit-content;
        max-width:100%;
        margin-bottom: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        background-image: linear-gradient(#0000 calc(100% - 2px), currentColor 2px);
        background-size: 0 100%;
        background-repeat: no-repeat;
        margin-right:6px;
        transition: background-size 0.3s linear, margin-right 0.3s;

        .fa{
            font-size: 0.75rem;
            vertical-align: middle;
            margin-bottom: 1px;
            color:var(--grey-3);
        }

        &.active, &.active:hover{
            color: var(--project-color-tertiary);
        }

        &:hover{
            filter: brightness(0.66);
            background-size: 100% 100%;
        }
    }

    .btn{
        display: block;
        background:radial-gradient(circle at 25%, rgba(238,238,238,1), rgba(235,235,235,1));
        border:none;
        color:var(--grey-5);
        transition: all 0.5s ease;

        &:hover{
            filter: brightness(0.92);
        }
    }
}

@media (max-width:767px) { 
    #spacer-column{
        display: none;
    }
}

#project-intro{
    padding-bottom: var(--space-xxl);

    .company{
        width:auto;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
        color: var(--project-color-tertiary);
        margin-bottom: 32px;

        &:hover{
            color: var(--project-color-tertiary);
            filter:brightness(0.8);
        }
    }
}


#project-hero{
    .image{
        object-fit:cover;
    }
}

.Process-label{
    margin-bottom:var(--space-xl);
    display: block;
}



.project-stage{    
    padding-top:var(--space-xl);
    padding-bottom:var(--space-xl);
    border-top:1px solid var(--grey-2);

    & > .row:last-of-type{
        border-bottom:1px solid var(--grey-2);
        padding-bottom:var(--space-xl);
    }

    &:last-of-type{
        & > .row:last-of-type{
            border:none;
        }
    }
    
    .stage-title{
        font-weight: 600;
        padding-bottom: var(--space-lg);
    }
}

.figure-caption{
    margin-top:var(--space-xs)
}



.stage-content{
    & a{
        text-decoration: underline;
    }
}