body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1387px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u72744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u72744 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:680px;
  height:424px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u72744 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 0px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u72744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72745 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:24px;
  width:671px;
  height:598px;
  display:flex;
  transition:none;
}
#u72745 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:598px;
}
#u72745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72746 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:109px;
  width:48px;
  height:5px;
  display:flex;
  transition:none;
}
#u72746 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72746_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:64px;
  height:31px;
}
#u72746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u72747 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:632px;
  width:324px;
  height:408px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u72747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u72748 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:464px;
  width:680px;
  height:424px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u72748 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 0px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u72748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
