<div id="mkt-integrated-services" class="blurb">
	<div class="centered grid">
		<div class="text-wrap col-3-5">
			<h2>Integrated services to improve learner outcomes</h2>
			<p>This service is integrated with many of our bestselling courses and can be purchased as part of our ActiveLearn Digital Service Subscription, which combines front-of-class teaching resources and planning materials with homework and practice. It has been developed alongside our Student Books to give one coherent approach and matching subscriptions are available for many courses.</p>
		</div><div class="image-wrap col-2-5">
			<img class="fadeIn" src="./images/digitalServiceMakeup.svg" role="presentation" />
		</div>
	</div>
</div>