<div id="mkt-interactive-questions" class="centered-block tri-light">
	<div class="centered header">
		<h2>Interactive questions</h2>
		<p>Thousands of differentiated activities that help students progress at their own pace and level. With on screen hints and instant targeted feedback that motivate learners to work independently, work out where they have gone wrong, try again and discover what to try next.</p>
	</div>
	<div id="mkt-questions-imgs" class="centered grid">
		<div class="image-wrap col-1-2">
			<img class="fadeIn" src="./images/features-mathsExercise.jpg" role="presentation" />
		</div><div class="image-wrap col-1-2">
			<img class="fadeIn" src="./images/features-MFLExercise.jpg" role="presentation" />
		</div>
	</div>
</div>
	
<div id="mkt-questions-support" class="centered-block">
	<div class="centered grid">
		<div class="text-wrap col-2-3">
			<h2>Lots of support <span class="ast">*</span></h2>
			<p>Students can access support when they need it with <b>'Learning aids'</b> and <b>'Help me solve this'</b> features built into our exercises. Interactive worked examples also guide students through questions by breaking them down into simple steps.</p>
		</div><div id="mkt-questions-btns" class="image-wrap col-1-3">
			<img class="fadeIn" src="./images/features-supportButtons.jpg" role="presentation" />		
		</div>
	</div>
	<div id="mkt-questions-video" class="centered grid">
		<div class="image-wrap col-2-3 align-top">
			<img class="fadeIn" src="./images/features-videoHelp.jpg" role="presentation" />		
		</div><div class="text-wrap col-1-3">
			<p><b>Explanatory videos</b> to help students tackle tricky questions, showing how to plan, solve and display an answer.</p>
		</div>
		<p class="helptext">( <span class="ast">*</span> Features availability varies for different products. )</p>
	</div>
</div>
