<div id="mkt-boost-engagement" class="blurb">
	<div class="centered grid">
		<div class="image-wrap col-2-5">
			<img class="fadeIn" src="./images/laptopUpArrow.svg" role="presentation" />
		</div><div class="text-wrap col-3-5">
			<h2>Boost engagement</h2>
			<p><b>Our Homework, Practice and Support Service</b> is a motivating and supportive online independent learning resource for the classroom and at home - for Key Stage 3, GCSE and A level students. Part of the ActiveLearn Digital Service.</p>
			<a class="link-large" href="features.asp">Find out more.<i class="fa fa-angle-double-right"></i></a>
		</div>
	</div>
</div>