<div id="home-courses" class="centered-block tri-light">
	<div class="centered">
		<div class="header">
			<h2>Products</h2>
			<p>Our innovative products cover a range of subjects and courses and are developed to help learners improve their confidence and achieve their best.</p>
		</div>
		<a class="link-large" href="http://www.pearsonschoolsandfecolleges.co.uk/GlobalPages/ActiveLearn/ActiveLearn-products.aspx" target="_blank"><img src="./images/courseIcons.png" role="presentation" />See all of our products <i class="fa fa-external-link"></i></a>
	</div>
</div>