<div id="mkt-maketime" class="blurb" style="border-top:1px solid #eaeaea;">
	<div class="centered grid">
		<div class="text-wrap col-3-5">
			<h2>Make time to teach</h2>
			<p><b>Spend more time delivering inspirational lessons,</b> building confidence in your learners and creating individual success with time saving resources for you and your learners.   "Brilliant in terms of time saving for teachers'" -Jenny Lewis, Crookhorn College.</p>
		</div><div class="image-wrap col-2-5">
			<img class="fadeIn" src="./images/digitalServiceMakeup.svg" role="presentation" style="opacity: 1;">
		</div>
	</div>
</div>