<div id="home-courses" class="centered-block tri-dark">
	<div class="centered">
		<div class="header">
			<h2>Products</h2><br>
			<p style="max-width:760px;">Our innovative products cover a range of subjects and courses and are developed to help learners improve their confidence and achieve their best.</p>
		</div>
        <ul style="margin-bottom:24px;">
            <li><img src="./images/Maths.png"/><p>Maths</p></li>
            <li><img src="./images/EnglishLit.png"/><p>English and Drama</p></li>
            <li><img src="./images/Science.png"/><p>Science</p></li>
            <li><img src="./images/MFL.png"/><p>MFL</p></li>
            <li><img src="./images/Geography.png"/><p>Humanities</p></li>
            <li><img src="./images/Business.png"/><p>Business Studies and Economics</p></li>
        </ul>
		<a class="link-large" href="http://www.pearsonschoolsandfecolleges.co.uk/GlobalPages/ActiveLearn/ActiveLearn-products.aspx" target="_blank">See all of our products <i class="fa fa-external-link"></i></a>
	</div>
</div>