body {
  margin:0px;
  background-color:rgba(236, 239, 241, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1025px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7285 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-150px;
  width:1137px;
  height:1051px;
  display:flex;
  transition:none;
}
#u7285 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:1051px;
}
#u7285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7286 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:42px;
  width:460px;
  height:680px;
  display:flex;
  transition:none;
}
#u7286 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:680px;
}
#u7286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:75px;
  background:inherit;
  background-color:rgba(236, 239, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7287 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:827px;
  width:1098px;
  height:75px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7287 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:895px;
  background:inherit;
  background-color:rgba(236, 239, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7288 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:-1px;
  width:44px;
  height:895px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7288 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 128, 123, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7289 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:601px;
  width:380px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
  color:#FFFFFF;
}
#u7289 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:895px;
  background:inherit;
  background-color:rgba(236, 239, 241, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7290 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-1px;
  width:44px;
  height:895px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7290 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:43px;
  background:inherit;
  background-color:rgba(48, 157, 151, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto-Medium", "Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u7291 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:130px;
  width:252px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Roboto-Medium", "Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
  text-align:left;
}
#u7291 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:43px;
  background:inherit;
  background-color:rgba(48, 157, 151, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto-Light", "Roboto Light", "Roboto", sans-serif;
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u7292 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:198px;
  width:96px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Roboto-Light", "Roboto Light", "Roboto", sans-serif;
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
}
#u7292 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
