body {
  margin:0px;
  background-color:rgba(236, 239, 241, 1);
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:278px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
  line-height:24px;
}
#u12675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:680px;
  height:278px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
  line-height:24px;
}
#u12675 .text {
  position:absolute;
  align-self:flex-start;
  padding:24px 24px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u12675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
  line-height:24px;
}
#u12676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:430px;
  width:680px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
  line-height:24px;
}
#u12676 .text {
  position:absolute;
  align-self:flex-start;
  padding:24px 0px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u12676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:632px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#607783;
}
#u12677 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:454px;
  width:632px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#607783;
}
#u12677 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"ArialNarrow", "Arial Narrow", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u12678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"ArialNarrow", "Arial Narrow", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
}
#u12678 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 60px;
  box-sizing:border-box;
  width:100%;
}
#u12678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12679 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:14px;
  width:80px;
  height:38px;
  display:flex;
  transition:none;
}
#u12679 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u12679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#0B3646;
  text-align:left;
}
#u12680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:680px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Roboto-Light', 'Roboto Light', 'Roboto', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#0B3646;
  text-align:left;
}
#u12680 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 24px;
  box-sizing:border-box;
  width:100%;
}
#u12680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
