body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:44px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:723px;
  width:1024px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u60 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u60_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:723px;
  width:1024px;
  height:1px;
  display:flex;
  transition:none;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:1px;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:0px;
  width:575px;
  height:720px;
  display:flex;
  transition:none;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:720px;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#777E7D;
  text-align:center;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:724px;
  width:44px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#777E7D;
  text-align:center;
}
#u63 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u63_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#777E7D;
  text-align:center;
}
#u63.mouseOver {
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 207, 207, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:730px;
  width:80px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:4px 4px 4px 4px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:738px;
  width:130px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#4A555A;
  text-align:center;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:724px;
  width:64px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#4A555A;
  text-align:center;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#4A555A;
  text-align:center;
}
#u70.mouseOver {
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#777E7D;
  text-align:center;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:724px;
  width:44px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#777E7D;
  text-align:center;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
  text-align:center;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:724px;
  width:44px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
  text-align:center;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#4A555A;
  text-align:center;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:724px;
  width:95px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#4A555A;
  text-align:center;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
  text-align:center;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:724px;
  width:44px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
  text-align:center;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:736px;
  width:1px;
  height:19px;
  display:flex;
  transition:none;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#CFCFCF;
  text-align:center;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:724px;
  width:44px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#CFCFCF;
  text-align:center;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:44px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:723px;
  width:45px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:736px;
  width:19px;
  height:19px;
  display:flex;
  transition:none;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:736px;
  width:22px;
  height:19px;
  display:flex;
  transition:none;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:723px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#777E7D;
  text-align:center;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:723px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#777E7D;
  text-align:center;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u89_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:723px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#777E7D;
  text-align:center;
}
#u89.mouseOver {
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:723px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#777E7D;
  text-align:center;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:0px;
  width:64px;
  height:723px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#777E7D;
  text-align:center;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u90_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:723px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#777E7D;
  text-align:center;
}
#u90.mouseOver {
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#4A555A;
  text-align:center;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:724px;
  width:95px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#4A555A;
  text-align:center;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:723px;
  width:1px;
  height:44px;
  display:flex;
  transition:none;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:736px;
  width:24px;
  height:19px;
  display:flex;
  transition:none;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:19px;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
  text-align:center;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:724px;
  width:44px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
  text-align:center;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-88px;
  width:1024px;
  height:768px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96 {
  position:absolute;
  left:378px;
  top:579px;
}
#u96_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:169px;
  height:187px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
  text-align:center;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:145px;
  width:43px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
  text-align:center;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u97_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
  text-align:center;
}
#u97.mouseOver {
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u96_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:296px;
  height:187px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u96_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:136px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border-radius:2px;
  filter:drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.24705882352941178));
  transition:none;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:136px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0086BD;
  text-align:center;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:145px;
  width:43px;
  height:42px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"FontAwesome", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0086BD;
  text-align:center;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#4A555A;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:9px;
  width:162px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#4A555A;
}
#u101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:296px;
  height:1px;
  display:flex;
  transition:none;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:135px;
  width:24px;
  height:10px;
  display:flex;
  transition:none;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:10px;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:"Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:95px;
  width:184px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u104.hint {
}
#u104_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u104.disabled {
}
#u104_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u104.hint.disabled {
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:42px;
  width:184px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:2px;
  filter:drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.047058823529411764));
  box-shadow:0px -16px 0px 0px rgba(246, 246, 246, 1) inset;
  transition:none;
  font-family:"Verdana", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:95px;
  width:80px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Verdana", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 80, 0, 1);
  border-radius:2px;
  filter:drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.047058823529411764));
  transition:none;
  font-family:"Verdana", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u106.mouseOver {
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:296px;
  height:1px;
  display:flex;
  transition:none;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Verdana", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#4A555A;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:63px;
  width:211px;
  height:13px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Verdana", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#4A555A;
}
#u108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#777E7D;
  text-align:center;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:787px;
  width:32px;
  height:38px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#777E7D;
  text-align:center;
}
#u109 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
