<div id="mkt-features-courses" class="centered-block">
	<div class="centered grid">
		<div class="text-wrap col-3-4 align-top">
			<div class="header">
				<h2>Courses</h2>
				<p>Our courses link to the ActiveBooks, our digital Student Books, with exercises integrated into the teaching and planning components.</p>
			</div>
			<img src="./images/features-course.jpg" role="presentation" />
		</div><div class="image-wrap  col-1-4">
			<img src="./images/features-courseIcons.png" role="presentation" />
		</div>
	</div>
</div>