<div id="home-display" class="display-area">
	<div class="display-image" role="presentation"></div>
	
	<div class="centered">
		<div id="home-display-text">
            <h1>Need some help?</h1>
            <ul style="color:#fcfcfc; list-style: none;">
                <li><i class="fa fa-desktop" style="font-size:21px; margin-right:4px;" aria-hidden="true"></i>
                    <a href="https://www.pearsonactivelearn.com/check_requirements.asp" target="_blank" rel="external">Will <em>Active</em>Learn run on my computer?</a>
                </li>
                <li><i class="fa fa-book" aria-hidden="true"></i>
                    <a href="http://www.pearsonschoolsandfecolleges.co.uk/DigitalSupport/Secondary/ALDS_HelpArea/02_New-users-getting-started.aspx" target="_blank" rel="external">Getting started</a>
                </li>
                <li><i class="fa fa-lightbulb-o" style="padding-left:3px; margin-right:10px;" aria-hidden="true"></i>
                    <a href="http://www.pearsonschoolsandfecolleges.co.uk/Secondary/Professional-Development/PD/ALDS-workshops.aspx" target="_blank" rel="external">Find out about training</a>
                </li>
                <li><i class="fa fa-comments" style="margin-right:2px;" aria-hidden="true"></i>
                    <a href="http://www.pearsonschoolsandfecolleges.co.uk/demos/aaforms/Forms/Contact-Us/Support.html" target="_blank" rel="external">Contact us</a>
                </li>
            </ul>    
		</div>
		<div id="home-display-form">
                <a href="https://idp.activeteachonline.com/sso/idp/www/module.php/core/loginuserpass.php?AuthState=_0c7344941403652f2c8989440a62b3f9e8dae8a089%3Ahttps%3A%2F%2Fidp.activeteachonline.com%2Fsso%2Fidp%2Fwww%2Fsaml2%2Fidp%2FSSOService.php%3Fspentityid%3Dhttps%253A%252F%252Fwww.pearsonactivelearn.com%26cookieTime%3D1491557234%26RelayState%3D"><button class="btn-prime login_button">Log in</button></a>
                <button class="btn-aux register_button">Register</button>
                <a href="https://www.pearsonactivelearn.com/recover/" style="margin-bottom:8px; display:block;">Forgot your password?</a>
		</div>
	</div>
	
	<a id="display-scroll-btn">
		<div id="scroll-btn-icon"></div>
		<p>learn more</p>
	</a>
	<div id="display-ticker">
		<div id="ticker-wrapper" class="centered no-js">
			<h4>Latest news:</h4>
			<ul id="news-ticker" style="list-style: none; margin: 19px 0 0 90px;">
                <li><a href="#"><b>2017 Training sessions now available for booking,</b> click here to find out more.</a></li>
			</ul>
		</div>
	</div>
</div>