<div id="home-quote" class="centered-block tri-AL">
    <div class="centered">
        <blockquote style="max-width:900px;margin: 24px auto 0; font-size: 32px; line-height:1.6; font-family:arialLight, arial, helvetica, sans-serif; font-style:italic;">“ActiveLearn Digital Service is an incredibly well thought out online innovation that  is rich in content, support and learning … a learner-centric dynamo.”</blockquote>
        <a target="_blank" style="color:#4a555a;" href="http://www.teachsecondary.com/ict/view/product-review-activelearn-digital-service1"><p><b>Teach Secondary </b><i class="fa fa-external-link" aria-hidden="true"></i></p></a>
    </div>
</div>