<div id="mkt-maketime" class="blurb" style="padding-top:32px;">
    <div class="centered grid" style="max-width:1366px;">
		<div class="col-1-3" style="text-align:center;">
            <img src="./images/clock.svg" />
            <h2>Make time to teach</h2>
            <p>Spend more time delivering inspirational lessons, building confidence in your learners and creating individual success with time saving resources.</p>
		</div><div class="col-1-3" style="text-align:center;">
            <img src="./images/personalise.svg"/>
            <h2>Personalise</h2>
			<p>Fuel learners’ curiosity by customising lessons with front-of-class resources and develop their learning skills through online homework with a range of hints and learning aids.</p>
        <!-- I've cut down the copy: https://blog.kissmetrics.com/destructive-power-of-adjectives/ -->
		</div><div class="col-1-3" style="text-align:center;">
            <img src="./images/laptopUpArrow.svg" />
			<h2>Measure progress</h2>
			<p>Help learners develop and progress. Identify their needs both in class and independently while allowing you full view of exactly how the group and individual have performed.</p>
		</div>
    </div>
    <div class="grid">
		<div class="col-1-1" style="text-align:center;">
            <blockquote style="font-style:italic; font-size:30px; margin:32px 0 16px; color:#9b9e9e;">“Brilliant in terms of time saving for teachers.”</blockquote>
            <p>-Jenny Lewis, Crookhorn College.</p>
        </div>
	</div>
</div>