.ax_default {
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333233;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
  font-size:13px;
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.shape {
  color:#333333;
}
.image {
}
.placeholder {
}
.button {
  color:#0E59A4;
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#0E59A4;
}
.heading_1 {
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Roboto-Medium', 'Roboto Medium', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-family:'Verdana', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#607783;
  text-align:left;
}
.paragraph {
  font-size:13px;
  text-align:left;
  line-height:24px;
}
.text_link {
  color:#0E59A4;
}
.text_link_mouse_over {
  color:#00807B;
}
.text_link_mouse_down {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  font-family:'Roboto-Regular', 'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333233;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.connector {
  color:#333333;
}
.sticky_1 {
  text-align:left;
}
.flow_shape {
}
.materialicons {
  font-family:'MaterialIcons-Regular', 'Material Icons', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
.icon {
}
.iconfont {
  font-family:"iconfont", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.shape1 {
}
.image1 {
  color:#000000;
}
.box_21 {
}
.paragraph1 {
  text-align:left;
}
.box_31 {
}
textarea, select, input, button, div, svg { outline: none; }
