html, body{
    height:100%;
	
	.wrapper{
    height:100%;
		
		/* Header: Display area */
		.displayArea{
			width:100%;
			height:100%;
			background: url(../assets/home/displayImg1alt.jpg) no-repeat;
			background-size:cover;
		
			// Splash mkting blurb
			
			.displayAreaText {
				position:absolute;
				width:33%;
				top:50%;
				left:0;
				margin-top: -11rem;
				color: white;
				transition: display 0.5s;
				
				h1{
					color:white;
					font-size: 3rem;
					transition: font-size 1s;
					margin-bottom: 4px;
					text-shadow:0.0625rem 0.125rem 0.125rem rgba(0, 0, 0, 0.20);
				}

				p{
					font-family: arialLight;
					font-weight: 300;
					color:white;
					font-size: 2rem;
					transition: font-size 1s;
					margin-bottom: 0;
					padding-right: 32px;
				}
			}
			
			.centeredContainer{
				height: 100%;
			}
			
			// LOGIN FORM
			
			#displayLoginForm {
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -11rem;
				line-height: 0.6875rem;
				width:42%;
				box-sizing: border-box;
				background-color: rgba(255,255,255,0.66);
				padding:16px 40px 32px;
				border:1px solid #eaeaea;
				border-radius:2px;
				
				legend{
					font-family: arialLight;
					font-weight: 300;
					font-size: 48px;
					color:white;
					line-height: 1.5;
					text-shadow: 0.0625rem 0.125rem 0.5rem rgba(0, 0, 0, 0.5);
				}
				
				input[type="text"]{
					display: block;
					box-sizing: border-box;
					height: 2.5rem;
					width: 100%;
					padding:0 0.5rem;
					font-size: 0.8125rem;
					background-color: white;
					border: 0;
					border-radius:0;
					
					&#username{
						margin-bottom: 16px;
					}
				}
				
				button{
					width:171px;
				}
			}

			form a:link, form a:visited{
				font-size: 14px;
				display: block;
				text-shadow: none;
				line-height: 2rem;
				margin-bottom: 8px;
			}

			form a:hover, .displayAreaText a:hover{
				color:#C64E00;
			}
			
			
			//Learn more arrow

			@-webkit-keyframes pulse {
				from { opacity: 0.4; }
				50% { opacity:0.85; }
				to { opacity: 0.4; }
			}

			#displayAreaLearnMore {
				position: absolute;
				bottom:5rem;
				text-align: center;
				width:100%;
			}

			#learnMoreHitArea {
				background:url(../assets/home/displayDownArrow.svg) no-repeat;
				width:3.125rem;
				height:3.125rem;
				margin: 0 auto;
				text-shadow: 0rem 0rem 0.25rem rgba(0,0,0,0.20);
				-webkit-animation: pulse 3s infinite;
				opacity:0.8;
				transition: opacity 1s;
			}

			#displayAreaLearnMore p{
				color:white;
				font-size: 0.75rem;
				position:relative;
				top:1px;
				margin: 0 auto;
				width:6rem;
				height:3.125rem;
				line-height: 3.125rem;
				vertical-align: middle;
				letter-spacing: 1px;
				cursor:pointer;
			}

			/* Newsroll */
			#newsroll{
				background:rgba(255,255,255,0.75);
				height:3.5rem;
				position: absolute;
				bottom:0;
				width:100%;
			}

			#newsroll p{
				display: inline-block;
				margin:1.2rem 0 0 1rem ;
				font-size: 0.75rem;
				float: left;
				color:$grey8;
			}

			#newsroll p i{
				font-size: 1rem;
				color:$grey7;
			}

			#newsroll nav{
				float: right;
				margin-right: 2rem;
				color:$grey7;
			}

			#newsroll nav i{
				font-size: 1.25rem;
				text-align: center;
				margin: 1.1rem 0 0 0.5rem;
				height: 1.25rem;
				width:1.25rem;
			}

			#newsroll a i{
				color:$link_color;
			}

			#newsroll a p:hover,
			#newsroll a p:hover i, 
			#newsroll nav i:hover{
				color:$hover_color;
			}

			#newsroll nav i:active{
				color:$grey9;
			}
		}// DisplayArea header end
		
		//main
		main {
			p {
				line-height: 1.5rem;
			}

			/* Courses */
			#Courses {
				text-align: center;
				background-color: $grey3;
				padding: 120px 0 0;
				height: 530px;
				
				h1{
					margin-bottom:2rem;
				}
				
				a{
					color:$grey7;
					font-family:arialMedium;
					font-size:18px;

					i{
						color:$link_color;
					}

					&:hover, &:hover i{
						color:$hover_color;
					}
				}
			}

			.homeCenteredHeading {
				max-width:38rem; 
				margin:0 auto 3rem;
			}

			.courseImages {
				width:100%;
				height:auto;
				margin-bottom: 4rem;
			}


			/* Resources */
			#resources {
				text-align: center;
				padding: 8rem 0;
			}
			
			#resources h1, #resources{
				color:$grey7;
				font-weight: normal;
				text-shadow: none;
			}

			#resources nav {
				ul{
					text-align: center;
					padding:0;
				}
				
				li{
					color:$grey8;
					display:inline-block;
					margin:0.5rem;

					&.inactiveButton{
						color:$grey6;
						transition: color 0.15s;
						cursor: pointer;

						&:hover{
							color:$grey7;
						}
					}
				}
			}

			.resourcesImages {
				width:64%;
				height:auto;
				margin:0 2% ;
				box-shadow: 0 0 1rem rgba(0,0,0,0.2);
			}

			.resourcesEntry {
				text-align: left;
			}

			.resourcesText{
				width:30%;
				display: inline-block;
				vertical-align:top;
				padding-right: 1%;
			}//courses end
			
			
			//case studies
			#caseStudies{
				text-align:center;
				padding:8rem 0;
				background: url("../assets/home/caseStudyBkg.jpg") no-repeat;
				background-size:cover;
				
				&:after{
					content: " ";
					display: table;
					clear: both;
				}
				
				header{
					margin-bottom: 4rem;
				}
				h1, p, blockquote{
					color:$grey2;
					font-weight: normal;
					text-shadow: none;
				}
				
				#caseStudyVideo{
					border-radius: 2px;
					border: 8px solid rgba(255,255,255,0.5);
				}
				
				blockquote{
					font-family: arialLightItalic;
					font-size: 20px;
					line-height: 32px;
					margin-bottom: 16px;
				}
				
				.quote-author{
					h4{
						color:$grey2;
					}
					
					p{
						font-size: 14px;
					}
				}
			}//case studies end
			
			//other products
			#otherProducts{
				text-align:center;
				padding:18rem 0 16rem;
				
				a:link, a:visited{
						font-size: 24px;
						line-height: 52px;
					}
					
				p{
					font-size: 20px;
					color:$grey7;
				}
			}
			
		}//main end
				
	}// Wrapper end
}//body end