//working dimensins
$width_desktop: 1024px;

//font stacks
$fontstack_main:arial, helvetica, san-serif, verdana;
$fontstack_small:verdana, arial, helvetica, san-serif;

//borders
$borderLit:1px solid $border_color;
$borderDrk:1px solid $border_color2;