/* Project page */

#project-page{
    background: rgb(253,253,253);
    background: linear-gradient(0deg, rgba(253,253,253,1) 0%, rgba(247,247,247,1) 50%);
}

#project-page .navbar{
    background-color: white;
}

#project-content-wrapper{
    
    background-color: white;
    
    & h1{
        font-family: var(--display-font);
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 0.075rem;
    }
    & h2{font-size: 1.25rem;}
    & h3{font-size: 1.05rem;}
    & h4{font-size: 1rem;}
    
    & strong{
        font-weight: 500;
    }
}


#breadcrumb{
    font-size: 12px;
    padding-bottom: var(--space-sm);
    
    & a{
        text-decoration: none;
        
        &:hover{
            text-decoration: underline;
        }
    }

    & .btn{
        font-size: 11px;
        margin-right: 4px;
        color: var(--grey-5);
        background-color: var(--grey-2);
        border:none;
        border-radius: 0.25rem;
        line-height: 0.7;
        position: relative;
        top:-1px;
        
        &:hover{
            background-color: var(--grey-3);
        }
    }
}

#capacity{
    font-size: 11px;
    font-weight: 600;
    
    .rounded-pill{
        border: 1px solid var(--grey-2);
        color: var(--grey-4);
        font-weight: 400;
        font-size: 12px;
        line-height: 10px;
        margin-left: 6px;
    }
}

#project-intro{
    padding-bottom: var(--space-lg);
}


#project-hero{
    padding-left: 0;
    padding-right: 0;

    .image{
        aspect-ratio:2.25/1;
        max-width: 100%;
        width:100%;
        object-fit:cover;
    }
}

.project-stage{    
    padding-top:var(--space-xl);

    & > .row:last-of-type{
        border-bottom:1px solid var(--grey-2);
        padding-bottom:var(--space-xl);
    }

    &:last-of-type{
        & > .row:last-of-type{
            border:none;
        }
    }
    
    img{
        padding:0;
        border-radius: 12px;
        border-color: var(--grey-2);
        border-style: solid;
        border-width: 0;
        margin-bottom: 1em;
        
        &.figure-img{
            margin-bottom: 0.25em;
            border-radius: 12px !important;
        }
    }
}

.stage-title{
    font-family: var(--display-font);
    font-weight: 600;
}

.stage-content{
    & a{
        text-decoration: underline;
    }
}