body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2044px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u34096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u34096 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:24px;
  width:700px;
  height:510px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u34096 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u34096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34098 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:204px;
  width:562px;
  height:85px;
  display:flex;
  transition:none;
}
#u34098 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:85px;
}
#u34098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34099 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:463px;
  width:659px;
  height:440px;
  display:flex;
  transition:none;
}
#u34099 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:440px;
}
#u34099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34100 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:887px;
  width:520px;
  height:434px;
  display:flex;
  transition:none;
}
#u34100 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u34100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:434px;
}
#u34100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u34101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:717px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u34101 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:887px;
  width:539px;
  height:717px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u34101 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u34101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:717px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
  color:#425965;
}
#u34102 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:887px;
  width:539px;
  height:717px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#425965;
}
#u34102 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u34102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:374px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
  color:#425965;
}
#u34103 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:496px;
  width:464px;
  height:374px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#425965;
}
#u34103 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u34103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:374px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u34104 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:496px;
  width:903px;
  height:374px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u34104 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u34104_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
