body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:700px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:700px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:48px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:652px;
  width:960px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#777E7D;
}
#u12453 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:652px;
  width:48px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#777E7D;
}
#u12453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#DDDDDD;
}
#u12454 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:652px;
  width:48px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#DDDDDD;
}
#u12454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:48px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u12455 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:652px;
  width:129px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u12455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
}
#u12456 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:652px;
  width:48px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
}
#u12456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12457 {
  position:absolute;
  left:753px;
  top:660px;
}
#u12457_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12457_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12458 {
  position:absolute;
  left:0px;
  top:0px;
}
#u12458_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12458_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(234, 234, 234, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 207, 207, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  transition:none;
  color:#4A555A;
  text-align:center;
}
#u12459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#4A555A;
  text-align:center;
}
#u12459 .text {
  position:absolute;
  align-self:center;
  padding:4px 4px 4px 4px;
  box-sizing:border-box;
  width:100%;
}
#u12459_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(138, 187, 230, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.14901960784313725) inset;
  transition:none;
  color:#4A555A;
  text-align:center;
}
#u12459.mouseOver {
}
#u12459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12458_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u12458_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(138, 187, 230, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.14901960784313725) inset;
  transition:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4A555A;
}
#u12460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4A555A;
}
#u12460 .text {
  position:absolute;
  align-self:center;
  padding:4px 4px 4px 4px;
  box-sizing:border-box;
  width:100%;
}
#u12460_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(138, 187, 230, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.14901960784313725) inset;
  transition:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4A555A;
}
#u12460.mouseOver {
}
#u12460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12458_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u12458_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(245, 218, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 165, 165, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.0784313725490196) inset;
  transition:none;
  color:#000000;
}
#u12461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u12461 .text {
  position:absolute;
  align-self:center;
  padding:4px 4px 4px 4px;
  box-sizing:border-box;
  width:100%;
}
#u12461_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(138, 187, 230, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.14901960784313725) inset;
  transition:none;
  color:#000000;
}
#u12461.mouseOver {
}
#u12461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12457_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u12457_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(138, 187, 230, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.24705882352941178) inset;
  transition:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4A555A;
  text-align:center;
}
#u12462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4A555A;
  text-align:center;
}
#u12462 .text {
  position:absolute;
  align-self:center;
  padding:4px 4px 4px 4px;
  box-sizing:border-box;
  width:100%;
}
#u12462_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(138, 187, 230, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.14901960784313725) inset;
  transition:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4A555A;
  text-align:center;
}
#u12462.mouseOver {
}
#u12462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12463_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#4A555A;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12463_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CFCFCF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12463_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#4A555A;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12463_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CFCFCF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#4A555A;
  text-align:center;
}
#u12463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#4A555A;
  text-align:center;
}
#u12463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12463_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#4A555A;
  text-align:center;
}
#u12463.hint {
}
#u12463_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#4A555A;
  text-align:center;
}
#u12463.disabled {
}
#u12463_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#4A555A;
  text-align:center;
}
#u12463.hint.disabled {
}
#u12464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#4A555A;
}
#u12464 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:669px;
  width:44px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#4A555A;
}
#u12464 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
}
#u12465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:652px;
  width:48px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
}
#u12465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12466 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:652px;
  width:48px;
  height:48px;
  display:flex;
  transition:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
}
#u12466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u12466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12467 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:652px;
  width:48px;
  height:48px;
  display:flex;
  transition:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
}
#u12467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u12467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12468 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:652px;
  width:48px;
  height:48px;
  display:flex;
  transition:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#777E7D;
}
#u12468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u12468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:68px;
  color:#F6F6F6;
}
#u12469 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:292px;
  width:70px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:68px;
  color:#F6F6F6;
}
#u12469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u12469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12470 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:58px;
  width:820px;
  height:517px;
  display:flex;
  transition:none;
}
#u12470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12470_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:830px;
  height:527px;
}
#u12470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
