body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1023px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:532px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:1023px;
  height:532px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u370 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:86px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u371 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:27px;
  width:68px;
  height:32px;
  display:flex;
  transition:none;
}
#u372 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
}
#u372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-top:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:158px;
  width:768px;
  height:147px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u373 .text {
  position:absolute;
  align-self:flex-start;
  padding:48px 0px 48px 16px;
  box-sizing:border-box;
  width:100%;
}
#u373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'anticon', 'anticon Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#8BC34A;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:197px;
  width:37px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'anticon', 'anticon Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#8BC34A;
}
#u375 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u375_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'anticon', 'anticon Medium', sans-serif;
  font-weight:500;
  font-style:normal;
  color:#8BC34A;
}
#u375.mouseOver {
}
#u375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
