body {
  margin:0px;
  background-color:rgba(238, 238, 238, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u85960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:2000px;
  background:inherit;
  background-color:rgba(253, 253, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u85960 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:1024px;
  height:2000px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u85960 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 151, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u85961 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:362px;
  width:151px;
  height:238px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u85961 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 151, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u85962 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:296px;
  width:151px;
  height:58px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u85962 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 151, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u85963 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:193px;
  width:151px;
  height:95px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u85963 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:68px;
  background:inherit;
  background-color:rgba(224, 242, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u85964 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:268px;
  width:135px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u85964 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u85965 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:48px;
  width:580px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u85965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:68px;
  background:inherit;
  background-color:rgba(224, 242, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u85967 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:344px;
  width:135px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u85967 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:68px;
  background:inherit;
  background-color:rgba(235, 238, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u85968 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:570px;
  width:135px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u85968 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 236, 179, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u85969 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:419px;
  width:135px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u85969 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 236, 179, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u85970 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:494px;
  width:135px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u85970 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:68px;
  background:inherit;
  background-color:rgba(224, 242, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u85971 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:193px;
  width:135px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u85971 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:68px;
  background:inherit;
  background-color:rgba(235, 238, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u85972 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:645px;
  width:135px;
  height:68px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u85972 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:24px;
}
#u85973 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:720px;
  width:28px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:24px;
}
#u85973 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85973_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u85974 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:193px;
  width:3px;
  height:219px;
  display:flex;
  transition:none;
}
#u85974 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85974_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:223px;
}
#u85974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85975 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:419px;
  width:3px;
  height:184px;
  display:flex;
  transition:none;
}
#u85975 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85975_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:188px;
}
#u85975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85976 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:607px;
  width:3px;
  height:106px;
  display:flex;
  transition:none;
}
#u85976 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85976_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:7px;
  height:110px;
}
#u85976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
  line-height:normal;
}
#u85977 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:270px;
  width:168px;
  height:15px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
  line-height:normal;
}
#u85977 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85977_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u85978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
  line-height:normal;
}
#u85978 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:496px;
  width:167px;
  height:15px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
  line-height:normal;
}
#u85978 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85978_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u85979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
  line-height:normal;
}
#u85979 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:637px;
  width:74px;
  height:15px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
  line-height:normal;
}
#u85979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u85980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u85980 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:207px;
  width:135px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u85980 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto-Medium", "Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
}
#u85981 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:146px;
  width:135px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Roboto-Medium", "Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
}
#u85981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Roboto-Medium", "Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
}
#u85982 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:146px;
  width:135px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Roboto-Medium", "Roboto Medium", "Roboto", sans-serif;
  font-weight:500;
  font-style:normal;
}
#u85982 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u85983 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:409px;
  width:135px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u85983 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u85984 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:481px;
  width:135px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u85984 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u85985 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:553px;
  width:135px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u85985 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u85986 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:517px;
  width:135px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u85986 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
  background:inherit;
  background-color:rgba(252, 213, 129, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u85987 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:243px;
  width:135px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u85987 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u85988 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:309px;
  width:135px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u85988 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u85989 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:272px;
  width:376px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u85989 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u85990 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:207px;
  width:472px;
  height:48px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u85990 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u85991 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:352px;
  width:507px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u85991 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85992 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:227px;
  width:8px;
  height:1px;
  display:flex;
  transition:none;
}
#u85992 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u85992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85993 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:316px;
  width:8px;
  height:1px;
  display:flex;
  transition:none;
}
#u85993 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u85993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85994 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:388px;
  width:8px;
  height:1px;
  display:flex;
  transition:none;
}
#u85994 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u85994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u85995 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:445px;
  width:135px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u85995 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u85996 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:764px;
  width:832px;
  height:168px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u85996 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:128px;
  background:inherit;
  background-color:rgba(247, 250, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(206, 223, 118, 1);
  border-radius:6px;
  filter:drop-shadow(none);
  transition:none;
}
#u85997 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:910px;
  width:960px;
  height:128px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u85997 .text {
  position:absolute;
  align-self:flex-start;
  padding:16px 16px 16px 16px;
  box-sizing:border-box;
  width:100%;
}
#u85997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 239, 241, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u85998 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:373px;
  width:135px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u85998 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
