<section id="page_content">
    <nav>
        <h2>Contenidos <span class="translation_eng">Contents</span></h2>
        <ul>
            <li>Module 1: Mi Vida
                <ul>
                    <li>Unit 1 ¿Como te llamas?
                        <span class="about">Getting used to Spanish pronunciation.</span>
                        <span class='learningPoint'>Introducing yourself.</span></li>
                    <li>Unit 2 ¿Como te llamas?
                        <span class="about">Talking about your personality.</span>
                        <span class='learningPoint'>Using adjectives that end in <strong>-o/-a</strong></span></li>
                </ul>
            </li>
            <li>Module 2: Mi tiemp libre
                <ul>
                    <li>Unit 1 ¿Qué te gusta hacer?
                        <span class="about">Saying what you like to do</span>
                        <span class='learningPoint'>Giving opinions using <strong>me gusta</strong> + infinitive</span></li>
                    <li>Unit 2 ¿Cantas karaoke?
                        <span class="about">Saying what you do in your spare time</span>
                        <span class='learningPoint'>Using <strong>-ar</strong> verbs in the present tense</span></li>
                </ul>
            </li> 
        </ul>
    </nav>
</section>